/* Place your CSS declarations here */

@import url('http://fonts.googleapis.com/css?family=Montserrat');
@import url('http://fonts.googleapis.com/css?family=Raleway');


body {
    margin: 0;
    font-size: 1em;
    background-color: white;
    min-height: 100vh;
  /*min-width: 826px; */
    display: flex;
    flex-direction: column;

}

h1, h2, h3, h4 {
    font-family:  Montserrat, sans-serif;

}

p, a, li, button, th, td {
    font-family: Raleway, sans-serif;
    text-decoration:none;
}

main {
    width: 806px;
    height: 70%;
    margin: auto;
    flex: 1;
    position: relative;

}

.navigering{
    border-top: 2px solid #707887;
    border-bottom: 2px solid #707887;
    background-color: #545b66;
    flex: 1;
    padding-left: 10px;
}

.navigering ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.navigering li {
    float: left;

}

.navigering a {
    display: inline-block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    color: snow;
}

.navigering a:hover {
    background-color: #2c2d30;
    text-decoration: none;
}


/* Header */
header {
    background-image: url('/static/images/Game_Room-513.png');
    background-repeat: no-repeat;
}
}
.hode{
    margin: 0;
    border: 1px solid black;
    color: black;



}

.hode a {
    text-decoration:none;
    color: black;
    font-size: 1.2em;

}

.hode h2 {
    padding-left: 125px;
}


}

.hode a h2 span {
    font-size: 0.5em;
}





/* INDEX Main */

#banner {
    background-color: #3bc4bd;
    background-image:  url({{ url_for('static', filename='/images/snowflake-bkgrd-png-iEbHsX-clipart.png') }});
    width: 806px;
    height: 240px;
    text-align: center;
    color: aliceblue;
    margin: 60px 0 60px 0;
    animation: 15s  snowing linear infinite;

}

@keyframes snowing {
    100% {
    background-position: 0 100px;
    }
}

#banner h1{
    padding-top: 70px;
    font-size: 2.2em;
    border-bottom: 1px solid white;
    margin: 0 60px 0 60px;
    padding-bottom: 50px;

}




#wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 10px 0 20px 0;
    padding: 0;
}


.product{
    flex-flow: row wrap;
    justify-content: flex-end;
    border: 1px solid #aaacaf;
    box-sizing:border-box;
    width: 262px;
    height: 372px;
    position: relative;
    padding: 10px 5px 10px 5px;
    margin: 5px 0 5px 0;

}

.product article {
    text-align: center;
}

.product h3 {
    font-size: 0.93em;
    padding: 1px;
}
.product:hover {
    background-color: gray;
}

.product img{
    width: 250px;
    height: 250px;

}

.product a{
    text-decoration: none;
    color: black;
}

.pricetag {
    position: absolute;
    bottom: 0;
    right: 0;
    color: red;
    padding-right: 5px;

}

.pricetag {

}

.pricetag p span {
    text-decoration: line-through;
    color: black;
    font-weight: normal;


}

.discount{
    position: absolute;
    right: 0;
    top: 0;
    border-bottom: 1px solid #aaacaf;
    border-left: 1px solid #aaacaf;
    width: 60px;
    height: 40px;
    z-index: 1;
    background-color: white;

}

.discount p {
    text-align: center;
    color: #e77213;
    font-weight: bold;
    margin: 0;
    line-height: 40px;


}


/*PRODUCT main*/

#productcontent{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 10px 0 20px 0;
    padding: 0;
}

#productimage {
    flex-wrap:row wrap;
    position: relative;
    width: 352px;
    height: 352px;
    box-sizing: border-box;
    border: 1px solid #d4d7db;
    margin: 5px 0 5px 0;

}

#productimage img {
    width: 350px;
    height: 350px;

}


#productinfo {
    flex-wrap:row wrap;
    position: relative;
    width: 400px;
    height: 560px;
    margin: 5px 0 5px 0;
}

#productinfo h3{
    margin-top: 0;
}
#productvideo {
    font-style: italic;
    padding-top: 50px;
}




#pricetag {
    position: absolute;
    bottom: 0;
    right: 0;
    color: red;
    padding-right: 5px;


}

#pricetag p{
    margin: 0;
}


#pricetag p span {
    text-decoration: line-through;
    color: black;
    font-weight: normal;


}

#discount{
    position: absolute;
    right: 0;
    top: 0;
    border-bottom: 1px solid #aaacaf;
    border-left: 1px solid #aaacaf;
    width: 60px;
    height: 40px;
    z-index: 1;
    background-color: white;

}

#discount p {
    text-align: center;
    color: #e77213;
    font-weight: bold;
    margin: 0;
    line-height: 40px;


}

input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.cartbutton {
    position: absolute;
    bottom: 0;
    left: 0;

}


.cartbutton button {
    background-color: blue;
    color: white;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

.cartbutton button:hover {
    box-shadow: 0 7px 16px 0 black;
}

.cartbutton button:active {
    transform: translateY(1px);
}


/* CART main*/
tablecart tr{
    height: 50px;
}

button {
    background-color: white;
    color: blue;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

.cartnumb {
   width:30px;
}

.tableright {
    text-align: right;
    padding-right: 5px;
    width: 70px;
}

th {
    text-align: left;
}

.tablecart td{
    border: 1px solid #aaacaf;
}
td img {
    width: 50px;
    height: 50px;
}

td i {
    color: dodgerblue;
}
#totalrow td{
    border: none;
}

#checkout {
    position: relative;
}

#checkout button {
    position: absolute;
    right: 0;
    background-color: blue;
    color: white;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

#checkout button:hover{
    box-shadow: 0 7px 16px 0 black;
}

#checkout button:active{
    transform: translateY(1px);
}



/* Footer */



.footen {
    height: 90px;
    text-align: center;
    font-size: 3em;
    border: 1px;
    padding-bottom: 10px;
    background-color: #545b66;
    color: white;
    position: relative;
    padding-top: 10px;

}

.footen a {
    color: white;


}

.footen p {
    margin: 0;
    font-size: 0.25em;

}

.icon {
    word-spacing: 10px;
    line-height: 70px;
}
.contactinfo {
    position: absolute;
    left: 0;
    padding: 5px 0 0 10px;
}
.contactinfo ul{

    font-size: 0.35em;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.contactinfo li{
    text-align: left;
}

.placeholder {
    border: 1px solid #333333;
    border-radius: 5px;
    padding: 1em;
    margin: 0.5em;
    background-color: #ffffcc;
}

.static {
    background-color: #ececec;
}

.message {
    background-color: #ccffcc;
}

.error {
    background-color: #ffcccc;
    color: red;
}




.simple_form div.input {
  margin-bottom: 10px;
  clear: both; /* Required for Webkit, but not for Gecko */
}

.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

div.boolean label, label.collection_radio_buttons {
  float: none;
  margin: 0;
}

label.collection_radio_buttons {
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

.field_with_errors {
  background-color: #ff3333;
}

.simple_form .error {
  clear: left;
  color: black;
  display: block;
  margin-left: 120px;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  color: #555;
  display: block;
  font-style: italic;
}

input.radio {
  margin-right: 5px;
  vertical-align: -3px;
}

input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px;
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}

.msg {
    color: red;
    border: 1px solid red;
    margin: 1em;
    padding: 0.5em;
}

.hogretableinput span{
    padding-left: 1.8em
}
